.node {
    -fx-background-color: white;
    -fx-background-radius: 5.0; 
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
}

.selected_node {
    -fx-background-color: white;
    -fx-background-radius: 5.0; 
    -fx-border-color: yellow;
    -fx-border-width: 2px;
}

.core {
    -fx-background-color: yellow;
    -fx-background-radius: 5.0; 
    -fx-border-color: white;
    -fx-border-width: 2px;
}
